@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 14, 25, 40;
  --background-start-rgb: 238, 244, 251;
  --background-end-rgb: 222, 222, 222;
}

/* dark theme - est. by computer */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer base {
  html {
    font-family: lexend, system-ui, sans-serif;
  }
}

@layer components{
  .navBtn{
    @apply hidden h-6 md:inline-flex cursor-pointer hover:scale-125 transition-all duration-150 ease-out
  }

  .btn{
    @apply h-7 hover:scale-125 cursor-pointer transition-all duration-150 ease-out
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

